	<nav class="navbar navbar-default navbar-fixed-top" id="header_nav">
  		<div class="container">
  			<div class="row">
  				<!-- Brand and toggle get grouped for better mobile display -->
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="#"> <!-- <img  alt="Pennovation" src="images/penn.png" class = "brand-logo"> --> <%= image_tag "penn.png", :class=>"brand-logo" %>

  					</a>
  				</div>
  			</div> <!-- /.row -->
  			<div class = "row">
  				<!-- Collect the nav links, forms, and other content for toggling -->
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="nav navbar-nav bottom">

  						<li class="active"><a href="#">Pennovation Works <span class="sr-only">(current)</span></a></li>
  						<li><a href="#">Pennovation Center</a></li>

  					</ul>

  				</div><!-- /.navbar-collapse -->
  			</div> <!-- /.row -->
  		</div><!-- /.container-fluid -->
  	</nav>



  	<div class = "container">
  		<div class="row" id="dragons">
  			<div class="col-md-4">
  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you." 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you." 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you." 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you." 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you." 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  				<blockquote>
  					The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you. 

  				</blockquote>
  				<div class="quote-author">-Samuel L. Jackson </div>

  			</div>
  			<div class="col-md-8">
  				<h1 class = "text-left absolute">What's in<br/>the Works?</h1>	

  				<!-- <img alt = "Pennovation Center" src= "images/kitteh2.jpg" class="img-responsive img-top-left-padding"> -->
  				<%= image_tag "kitteh2.jpg", :class=>"img-responsive img-top-left-padding" %>
  			</div>

  				<h2> The Pennovation Works is a unique blend of offices, labs, and production space being developed by The University of Pennsylvania to bridge the intellectual and entrepreneurial initiatives for advancing knowledge and generating economic development.</h2>

  				The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness. For he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know I am the Lord when I lay my vengeance upon you. 
  				<p>
  				<a href= "http://www.google.com"> Click this link </a>

  			</div>

  		

  		</div> <!--.row -->


  	</div> <!--.container -->


  	<!--Skrollr Magic -->
	<script type="text/javascript">
	    skrollr.init({
			smoothScrolling: false,
			mobileDeceleration: 0.004
		});
	</script>
